<% content_for :header do %>
  <div class="title"><%= I18n.t(:landing_text) %></div>
<% end %>

<div class="grid">
	<div class="grid-section group">
		<%  @categories = @category_types.first.categories
			@categories.each { |category| 
			if !category.activities.empty?
		%>
			<div class="col span_1_of_3">
				<%=link_to image_tag(category.photoUrl, :class => "photo"), category_activities_url(category) %>
			</div>
		<% 
			end
		  } 
		%>
	</div>
</div>

<% content_for :footer do %>
	<div class="activity-footer">
		<div class="left-side">
		   <%= paginate @category_types %>
		</div>
	</div>
<% end %>