@import "modules/all";


body {
    background: none repeat scroll 0 0 $background-color;
    color: $primary-text-color;
    font-family: $primary-font-selection;
    position: relative;
    margin:0 auto;
}

a { 
	color: $primary-link-color;
	letter-spacing: .21em; 
}
a:hover { color: $primary-link-hover; }  