@import "modules/all";

.title {
	font-size: 130%;
	letter-spacing: .21em;
	@include single-text-shadow(1px, 1px, 2px, $primary-shadow-color);
}
.title a { 
	text-shadow: 1px 1px 1px #21BEDE;
}

/*** grid module ***/
.grid {
	margin:0 auto;

	.bordered {
		border-top: 1px solid $primary-shadow-color;
		border-bottom: 1px solid $primary-shadow-color;
	}
	padding: 5.0% 0;

	.grid-section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
		text-align: center;
	}
	.col:first-child { margin-left: 0; }

	.group:before,
	.group:after {
		content:"";
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
	    zoom:1; /* For IE 6/7 */
	}

	%full-width {
		width: 100%;
	}

	.span_3_of_3 {
		@extend %full-width;
	}
	.span_2_of_3 {
		width: 66.1%;
	}
	.span_1_of_3 {
		width: 29%;
	}

	.span_1_of_2 {
		width: 49%;
	}

	.span_2_of_2 {
		@extend %full-width;
	}

	.span_1_of_1 {
		@extend %full-width;
	}
}

@media only screen and (max-width: 480px) {
	.grid .col { 
		margin: 1% 0 1% 0%;
	}
	.grid .span_3_of_3, .span_2_of_3, .span_1_of_3 { 
		width: 100%; 
	}
}

/** category-form. **/
.category-form {
	.form-element {
		margin: 0 auto;
		padding: 0% 0 2% 0%;
	}
}

/** activity module **/
.activity-main-content {
	margin:0 auto;
	border-top: 1px solid $primary-shadow-color;
	border-bottom: 1px solid $primary-shadow-color;
	padding: 3.0% 0;

	%side {
		display: block;
		margin: 0 auto;
		text-align:center;		
	}
	.left-side {
		@extend %side;
		width: 49%;
	}
	.right-side {
		@extend %side;
		width: 50%;
	}
	.photo {
		min-width: 300px;
		padding-bottom: 3%;

		img {
			width: 300px;
			height: 300px;
			margin: 0 auto;
			@include single-text-shadow(0px, 0px, 5px, $primary-shadow-color);
			@include border-radius(3px, 3px);
		}
	}
	.map {
		min-width: 300px;
		#map_canvas{
			width: 300px;
			height: 300px;
			margin: 0 auto;
			@include single-text-shadow(0px, 0px, 5px, $primary-shadow-color);
			@include border-radius(3px, 3px);
		}
	}
}

@media only screen and (min-width : 768px) { 
	.activity-main-content {
		width: 80%;
	}
 }
  @media only screen and (min-width : 1024px) { 
	.activity-main-content {
		width: 60%;
	}
 }
@media only screen and (min-width : 610px) { 
	.activity-main-content .photo {
		display: inline-block;
		padding-bottom: 0px;
	}
	.activity-main-content .map {
		display: inline-block;
	}	
}

/** activity footer **/
.activity-footer {
	margin:0 auto;
	padding: 3% 0;

	.previous_page {
		display: none;
	}

	%side {
		display: inline-block;
		margin: 0 auto;
		text-align:center;
		letter-spacing: .1em;
	}
	.left-side {
		@extend %side;
		width: 49%;
	}
	.right-side {
		@extend %side;
		width: 50%;
	}
}

@media only screen and (min-width : 768px) { 
	.activity-footer {
		width: 80%;
	}
 }
  @media only screen and (min-width : 1024px) { 
	.activity-footer {
		width: 60%;
	}
 }