@import "modules/all";

.title {
	font-size: 130%;
	letter-spacing: .21em;
	@include single-text-shadow(1px, 1px, 2px, $primary-shadow-color);
}
.title a { 
	text-shadow: 1px 1px 1px #21BEDE;
}

/*** grid module ***/
.grid {
	margin:0 auto;

	.bordered {
		border-top: 1px solid $primary-shadow-color;
		border-bottom: 1px solid $primary-shadow-color;
	}
	padding: 5.0% 0;

	.grid-section {
		clear: both;
		padding: 0px;
		margin: 0px;
	}

	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
		text-align: center;
	}
	.col:first-child { margin-left: 0; }

	.group:before,
	.group:after {
		content:"";
		display:table;
	}
	.group:after {
		clear:both;
	}
	.group {
	    zoom:1; /* For IE 6/7 */
	}

	%full-width {
		width: 100%;
	}

	.span_3_of_3 {
		@extend %full-width;
	}
	.span_2_of_3 {
		width: 66.1%;
	}
	.span_1_of_3 {
		width: 29%;
	}

	.span_1_of_2 {
		width: 49%;
	}

	.span_2_of_2 {
		@extend %full-width;
	}

	.span_1_of_1 {
		@extend %full-width;
	}
}

@media only screen and (max-width: 480px) {
	.grid .col { 
		margin: 1% 0 1% 0%;
	}
	.grid .span_3_of_3, .span_2_of_3, .span_1_of_3 { 
		width: 100%; 
	}
}

/** category-form. **/
.category-form {
	.form-element {
		margin: 0 auto;
		padding: 0% 0 2% 0%;
	}
}

/** pagination module. **/
.paginated_collection_contents {
  clear: both;
}

.pagination {
  font-size: 0.9em;
  margin-left: 10px;
}

.pagination a {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #e7e7e7);
  background: -moz-linear-gradient(-90deg, white, #e7e7e7);
  background: linear, -90deg, white, #e7e7e7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE7E7E7');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: lightgrey;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: white 0 1px 0;
  color: #5e6469;
}

.pagination a.disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination a:not(.disabled):hover {
  background: white;
  background: -webkit-linear-gradient(-90deg, white, #f1f1f1);
  background: -moz-linear-gradient(-90deg, white, #f1f1f1);
  background: linear, -90deg, white, #f1f1f1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF1F1F1');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF1F1F1');
}

.pagination a:not(.disabled):active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22) inset, 0 1px 0 0px #eeeeee;
  border-color: #b9b9b9;
  border-top-color: #c2c2c2;
  border-right-color: #b9b9b9;
  border-bottom-color: #b7b7b7;
  border-left-color: #b9b9b9;
  background: #f3f3f3;
  background: -webkit-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
  background: -moz-linear-gradient(-90deg, #f3f3f3, #d8d8d8);
  background: linear, -90deg, #f3f3f3, #d8d8d8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3F3F3', endColorstr='#FFD8D8D8');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF3F3F3', endColorstr='#FFD8D8D8');
}

.pagination span.page.current {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: #838a90;
  background: -webkit-linear-gradient(-90deg, #838a90, #414549);
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  background: linear, -90deg, #838a90, #414549;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 1px #484e53;
  border-color: #484e53;
  border-top-color: #616a71;
  border-right-color: #484e53;
  border-bottom-color: #363b3f;
  border-left-color: #484e53;
  color: #efefef;
}

.pagination span.page.current.disabled {
  opacity: 0.5;
  cursor: default;
}

.pagination span.page.current:not(.disabled):hover {
  background: #8b9297;
  background: -webkit-linear-gradient(-90deg, #8b9297, #484d51);
  background: -moz-linear-gradient(-90deg, #8b9297, #484d51);
  background: linear, -90deg, #8b9297, #484d51;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8B9297', endColorstr='#FF484D51');
}

.pagination span.page.current:not(.disabled):active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset, 0 1px 0 0px white;
  background: #71797f;
  background: -webkit-linear-gradient(-90deg, #71797f, #35383b);
  background: -moz-linear-gradient(-90deg, #71797f, #35383b);
  background: linear, -90deg, #71797f, #35383b;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF71797F', endColorstr='#FF35383B');
}

.pagination a, .pagination span.page.current {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-right: 4px;
  padding: 3px 3px;
}

.pagination_information {
  float: right;
  margin-bottom: 5px;
  color: #b3bcc1;
}

.pagination_information b {
  color: #5c6469;
}

/** activity module **/
.activity-main-content {
	margin:0 auto;
	border-top: 1px solid $primary-shadow-color;
	border-bottom: 1px solid $primary-shadow-color;
	padding: 3.0% 0;

	%side {
		display: block;
		margin: 0 auto;
		text-align:center;		
	}
	.left-side {
		@extend %side;
		width: 49%;
	}
	.right-side {
		@extend %side;
		width: 50%;
	}
	.photo {
		min-width: 300px;
		padding-bottom: 3%;

		img {
			width: 300px;
			height: 300px;
			margin: 0 auto;
			@include single-text-shadow(0px, 0px, 5px, $primary-shadow-color);
			@include border-radius(3px, 3px);
		}
	}
	.map {
		min-width: 300px;
		#map_canvas{
			width: 300px;
			height: 300px;
			margin: 0 auto;
			@include single-text-shadow(0px, 0px, 5px, $primary-shadow-color);
			@include border-radius(3px, 3px);
		}
	}
}

@media only screen and (min-width : 768px) { 
	.activity-main-content {
		width: 80%;
	}
 }
  @media only screen and (min-width : 1024px) { 
	.activity-main-content {
		width: 60%;
	}
 }
@media only screen and (min-width : 610px) { 
	.activity-main-content .photo {
		display: inline-block;
		padding-bottom: 0px;
	}
	.activity-main-content .map {
		display: inline-block;
	}	
}

/** activity footer **/
.activity-footer {
	margin:0 auto;
	padding: 3% 0;

	.previous_page {
		display: none;
	}

	%side {
		display: inline-block;
		margin: 0 auto;
		text-align:center;
		letter-spacing: .1em;
	}
	.left-side {
		@extend %side;
		width: 49%;
	}
	.right-side {
		@extend %side;
		width: 50%;
	}
}

@media only screen and (min-width : 768px) { 
	.activity-footer {
		width: 80%;
	}
 }
  @media only screen and (min-width : 1024px) { 
	.activity-footer {
		width: 60%;
	}
 }